.menu_container{
    position: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.menu_element{
    background: none;
}

div.menu_element{
    border: none;
}

a.menu_element{
    background-color: rgba(200,200,200,0.3);
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: auto;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
    transition: 0.3s;
}

a.menu_element:hover{
    background-color: green;
}

a.menu_element>span{
    color: black;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
}

a.menu_element:hover>span{
    color: white;
}