form.form {
    background-image: url("../assets/diamant1.jpg");
    background-size: cover;
    border-radius: 10px;
    border: 1px solid #BDA617;
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
form.form > *.form{
    border-radius: 5px;
    border: 1px solid #BDA617;
    background-image: url("../assets/background.jpg");

}
input.form[type="text"]{
    width: 100%;
    max-width: 40ch;
}
textarea.form{
    width: 100%;
    max-width: 65ch;
}
label.form{
    border-radius: 5px;
    border: 1px solid #BDA617;
    background-image: url("../assets/background.jpg");
}
form>button{
    border-radius: 5px;
    border: 1px solid #BDA617;
    background-image: url("../assets/background.jpg");
}

table, th, td {

    background-image: url("../assets/background.jpg");
    border: 1px solid #BDA617;
    padding: 10px;
    color : white;

}

.content{
    width: 80vw;
    max-width: 65ch;
    margin: auto;
}