* {
    box-sizing: border-box;
}

html{
    background-image: url("../assets/background.jpg");
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;
    font-size: 62.5%;
}

body{
    font-family:'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
}

body{
    background: linear-gradient(180deg, rgba(200,200,200,0.1), rgba(180,180,180,0.6));
}

div.center{
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

img.logo{
    width: 200px;
    height: 120px;
    border-radius: 50px;
    border: 1px solid #BDA617;

}

.header{
    border: none;
    margin-left: auto;
    margin-right: auto;
    background: rgba(245, 222, 179,0.5);
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


div.footer{
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

span{
    color: black;
    font-weight: bold;
}

body {
    padding: 15px;
}

div.main_body{
    min-height: 300px;
}

h1,h2,p,div{
    padding: 10px;
}

h1,h2,h3{
    text-align: center;
}

div.menu{
    position:relative;
    background: none;   
}


a.menu{
    text-decoration: none;
    border: none;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
    padding: 10px 20px;
    width: fit-content;    
}

a.menu:hover{
    transition: 0.2s ease-out;
    border: 2px solid black;
    right: 5px;
    bottom: 5px;
    background-color: rgba(136, 255, 0, 0.6);
    box-shadow: 5px 5px 1px black;
    position: relative;
}

.pickaxe{
    display:none;
    position: absolute;
    left:-40px;
    top:-20px;
    border: none;
    background: none;
    margin:auto;
}

@keyframes mining {
    0%  {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    90% {
        transform: rotate(0deg);
    }
}

a.menu:hover >span{
    color:red;
}

a.menu:hover + .pickaxe{
    display: block;
    transform-origin: left bottom;
    animation: mining 1s infinite linear;
}

div.footer > *{
    text-decoration: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 40px;
    width: fit-content;
}

img.footer{
    height:75px;
    width:auto;
}

footer{
  background-image: url("../assets/background.jpg");
  background-size : cover;
  height : fit-content;
  border-radius: 10px;
  border: 1px solid #BDA617;
  padding: 10px;
  text-align: center;
  display : flex;
}

p{
    width: 60ch;
    text-align: justify;
    text-justify: inter-word;
    margin:auto;
}

div.footer{
  background: none;
}

div.topheader{
    display: flex;
    justify-content: space-between;
}

div.topheader > * {
    flex:auto;
    background: none;
}
div.topheader > span{
    text-align: right;
}

div.clockcontainer{
    margin: auto;
    border: 4px solid #696969;
    --contsize: 130px;
    width: var(--contsize);
    height: var(--contsize);
    max-width: var(--contsize);
    max-height: var(--contsize);
    border-radius: 50%;
    box-shadow: -4px -4px 10px rgba(43,43,43,0.5),
    inset 4px 4px 10px rgba(0,0,0,0.5),
    inset -4px -4px 10px rgba(43,43,43,0.5),
    4px 4px 10px rgba(0,0,0,0.3);
    padding: 0px;
}
div.clock {
    position: relative;
    margin: auto;
    border-radius: 50%;
    --size: 100%;
    height: var(--size);
    width: var(--size);
    max-width: var(--size);
    max-height: var(--size);
    background: url("../assets/clock.png") no-repeat;
    opacity: 0.6;
    background-size: contain;
    padding: 0px;
}
  
.hour {
    background: rgba(255,0,0,0.8);
    opacity: 0.9;
    --width: 3.5px;
    --height: calc(var(--size)/3.5);
}
  
.minute {
    background: rgba(0,255,0,0.8);
    opacity: 0.9;
    --width: 2.5px;
    --height: calc(var(--size)/2.8);
}
  
.second {
    background: rgba(0,0,255,0.8);
    opacity: 0.9;
    --width: 1.5px;
    --height: calc(var(--size)/2.4);
}

.hand {
    position: absolute;
    padding: 0px;
    width: var(--width);
    height: var(--height);
    transform-origin: center 0;
    border-radius: 50%;
    border:none;
    top: 50%;
    left: calc(50% - var(--width)/2);
}