table, th, td {
    border: 2px solid red;
    border-collapse: collapse;
    background-color: rgb(200, 200, 200);
}

th, td {
    border: 1px solid black;
    padding: 10px;
}
th{
    text-align: center;
}
td{
    text-align:left;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}
