table, th, td {

    background-image: url("../assets/diamant1.jpg");

    border-radius: 10px;
    border: 1px solid #BDA617;
    padding: 30px;

}

th, td {
    background-image: url("../assets/background.jpg");
    border: 1px solid #BDA617;
    padding: 10px;
    color: white;
}
th{
    text-align: center;
}
td{
    text-align:left;
}

table {
    margin-left: auto;
    margin-right: auto;
}

tr.animated:hover>td>img.animated{
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.accordion {
    background: none;
    color: #444;
    border:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 18px;
    width: 100%;
    text-align: center;
    font-size: 100%;
    transition: 0.4s;
}

.data {
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.menu_button{
    display: flex;
    padding: 0;
}

.p_element{
    width: 80vw;
    max-width: 56ch;
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
}

@media only screen and (min-width: 768px){
    .p_container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .p_element{
        width: 25vw;
        max-width: 40ch;
    }
}



